<!-- Splash Screen -->
<app-splash *ngIf="loading"></app-splash>

<!-- Main Content -->
<ng-container *ngIf="!loading">
  <app-navbar (changeParentEvent)="changeColor()" [title]="titleData"></app-navbar>

  <div class="container mt-3">
    <div class="d-flex">
      <div class="mb-0">
        <label for="titleInput" class="form-label w-100">Change Website's Title</label>
        <input type="text" id="titleInput" class="form-control form-control-sm" [(ngModel)]="titleData"
          placeholder="Enter new title" maxlength="20" />
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</ng-container>
